<div id="bigmap">
  <google-map
    [center]="center"
    [options]="options"
    [zoom]="zoom"
    height="100%"
    width="100%">
    <map-marker
      #markerElem
      (mapClick)="markerClick(markerElem)"
      *ngFor="let marker of markerConfigs"
      [label]="marker.label"
      [options]="marker.options"
      [position]="marker.position"
      [title]="marker.title">
    </map-marker>
    <map-info-window [options]="infoWindowConfig">
      <ng-container *ngIf="infoWindowLoaded; else loadingTemplate">
      <app-bouyguesimmo-teaser [html]="mapInfoWindowInnerHtml"></app-bouyguesimmo-teaser>
      <button (click)="setPinHidBouygues(infoWindowProgram, true)"
              *ngIf="!infoWindowProgram.hid"
              mat-icon-button>
        <mat-icon fontSet="material-icons-outlined">remove_red_eye</mat-icon>
      </button>
      <button (click)="setPinHidBouygues(infoWindowProgram, false)"
              *ngIf="infoWindowProgram.hid"
              mat-icon-button>
        <mat-icon>remove_red_eye</mat-icon>
      </button>
      </ng-container>
      <ng-template #loadingTemplate>
        loading...
      </ng-template>
    </map-info-window>
  </google-map>
  <div #changeHideStateButton class="d-none">
    <button (click)="changeHideState()" class="change-state-button p-0" mat-flat-button>
      <ng-container *ngIf="hideHidPins; else hideUnhidPins">
        <mat-icon>remove_red_eye</mat-icon>
      </ng-container>
      <ng-template #hideUnhidPins>
        <mat-icon fontSet="material-icons-outlined">remove_red_eye</mat-icon>
      </ng-template>
    </button>
  </div>
</div>
