<mat-spinner *ngIf="!programDateLots" class="my-5 mx-auto"></mat-spinner>
<div>
  <div id="left">
    <google-map
      height="100%"
      width="100%"
      [center]="center"
      [options]="options"
      [zoom]="zoom">
      <map-marker
          #markerElem
          *ngFor="let marker of markerConfigs"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          (mapClick)="markerClick(markerElem)">
      </map-marker>
    </google-map>
  </div>
  <div id="right" class="px-3">
    <ng-container *ngIf="programDateLots">
      <div #programcard class="my-3" *ngFor="let p of programDateLots">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{p.program.programName}}
            </mat-card-title>
            <mat-card-subtitle>
              <!-- {{p.program.address}} {{p.program.postalCode}} -->
              <div id="delivery-info" [innerHTML]="p.deliveryInfoHtml"></div>
            </mat-card-subtitle>
          </mat-card-header>
          <a [routerLink]="['/programs', p.program.programNumber]">
            <img mat-card-image [src]="p.program.imgUrl" [alt]="p.program.programName">
          </a>
          <mat-card-content>
            <p>{{p.lastDayLotCount + ' lot' + (p.lastDayLotCount > 1 ? 's' : '')}}</p>
            <p *ngIf="p.lastDayMinPrice">Starts at {{p.lastDayMinPrice}}</p>
          </mat-card-content>
          <mat-card-actions>
            <a [href]="p.program.url" target="_blank" mat-icon-button>
              <i class="material-icons">web</i>
            </a>
            <a [href]="p.program.pdfUrl" target="_blank" mat-icon-button>
              <i class="material-icons">picture_as_pdf</i>
            </a>
            <button (click)="programCardLocationClick(p.program.programName)" mat-icon-button>
              <i class="material-icons">my_location</i>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
