<div>
  <div id="left">
    <google-map
      [center]="center"
      [options]="options"
      [zoom]="zoom"
      height="100%"
      width="100%">
      <map-marker
        #marker="mapMarker"
        (mapClick)="markerClick(marker)"
        *ngFor="let markerConf of markerConfigs"
        [label]="markerConf.label"
        [options]="markerConf.options"
        [position]="markerConf.position"
        [title]="markerConf.title">
      </map-marker>
    </google-map>
  </div>
  <div class="px-3" id="right">
    <mat-spinner *ngIf="!programDateLots" class="my-5 mx-auto"></mat-spinner>
    <ng-container *ngIf="programDateLots">
      <ng-container *ngFor="let p of programDateLots">
        <!--suppress JSUnusedGlobalSymbols -->
        <div #programcard
             *ngIf="!p.programCardHid" [matRippleColor]="'#66CCFF33'"
             [matRippleRadius]="666"
             class="my-3 mat-elevation-z2"
             matRipple>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{p.program.programName}}
              </mat-card-title>
              <mat-card-subtitle>
                <!-- {{p.program.address}} {{p.program.postalCode}} -->
                <app-delivery-info [html]="p.deliveryInfoHtml"></app-delivery-info>
              </mat-card-subtitle>
            </mat-card-header>
            <a [routerLink]="['/programs', p.program.programNumber]">
              <img [alt]="p.program.programName"
                   [lazyLoad]="p.program.imgUrl"
                   mat-card-image
                   src="https://dummyimage.com/327x188/eeeeee/eeeeee.jpg">
            </a>
            <mat-card-content>
              <p>{{p.lastDayLotCount + ' lot' + (p.lastDayLotCount > 1 ? 's' : '')}}</p>
              <p *ngIf="p.lastDayMinPrice">Starts at {{p.lastDayMinPrice}}</p>
            </mat-card-content>
            <mat-card-actions>
              <a [href]="p.program.url" mat-icon-button target="_blank">
                <mat-icon>web</mat-icon>
              </a>
              <a [href]="p.program.pdfUrl" mat-icon-button target="_blank">
                <mat-icon>picture_as_pdf</mat-icon>
              </a>
              <button (click)="programCardLocationClick(p.program.programName)" mat-icon-button>
                <mat-icon>pin_drop</mat-icon>
              </button>
              <button (click)="hideProgramClick(p)" *ngIf="!p.hid" mat-icon-button>
                <mat-icon fontSet="material-icons-outlined">remove_red_eye</mat-icon>
              </button>
              <button (click)="unhideProgramClick(p)" *ngIf="p.hid" mat-icon-button>
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
      <div class="mb-3">
        <button (click)="showAllHidedPrograms()" class="full-width" color="primary" mat-button>
          <ng-container *ngIf="hideHidPrograms; else hideUnhidPrograms">
            <mat-icon>remove_red_eye</mat-icon>
            Show hidden programs
          </ng-container>
          <ng-template #hideUnhidPrograms>
            <mat-icon fontSet="material-icons-outlined">remove_red_eye</mat-icon>
            Hide unhidden programs
          </ng-template>
        </button>
      </div>
    </ng-container>
  </div>
</div>


<div #selectDeveloperButtons class="d-none">
  <button
    (click)="cogedimBtnOnclick()"
    [ngClass]="cogedimProgramsHid ? 'developer-btn-hide' : 'developer-btn-show'"
    class="select-developer-button"
    mat-icon-button>
    <mat-icon svgIcon="icon-c"></mat-icon>
  </button>
  <button
    (click)="kaufmanbroadBtnOnclick()"
    [ngClass]="kaufmanbroadProgramsHid ? 'developer-btn-hide' : 'developer-btn-show'"
    class="select-developer-button mb-4 mx-2"
    mat-icon-button>
    <mat-icon svgIcon="icon-k"></mat-icon>
  </button>
</div>
