<div>
  <div id="left">
    <google-map
      height="100%"
      width="100%"
      [center]="center"
      [options]="options"
      [zoom]="zoom">
      <map-marker
        #markerElem
        *ngFor="let marker of markerConfigs"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="markerClick(markerElem)">
      </map-marker>
    </google-map>
  </div>
  <div id="right" class="px-3">
    <mat-spinner *ngIf="!programDateLots" class="my-5 mx-auto"></mat-spinner>
    <ng-container *ngIf="programDateLots">
      <ng-container *ngFor="let p of programDateLots">
        <!--suppress JSUnusedGlobalSymbols -->
        <div #programcard
             class="my-3 mat-elevation-z2" *ngIf="!p.programCardHid"
             matRipple
             [matRippleRadius]="666"
             [matRippleColor]="'#66CCFF33'">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{p.program.programName}}
              </mat-card-title>
              <mat-card-subtitle>
                <!-- {{p.program.address}} {{p.program.postalCode}} -->
                <div id="delivery-info" [innerHTML]="p.deliveryInfoHtml"></div>
              </mat-card-subtitle>
            </mat-card-header>
            <a [routerLink]="['/programs', p.program.programNumber]">
              <img mat-card-image
                   [lazyLoad]="p.program.imgUrl"
                   src="https://dummyimage.com/327x188/eeeeee/eeeeee.jpg"
                   [alt]="p.program.programName">
            </a>
            <mat-card-content>
              <p>{{p.lastDayLotCount + ' lot' + (p.lastDayLotCount > 1 ? 's' : '')}}</p>
              <p *ngIf="p.lastDayMinPrice">Starts at {{p.lastDayMinPrice}}</p>
            </mat-card-content>
            <mat-card-actions>
              <a [href]="p.program.url" target="_blank" mat-icon-button>
                <mat-icon>web</mat-icon>
              </a>
              <a [href]="p.program.pdfUrl" target="_blank" mat-icon-button>
                <mat-icon>picture_as_pdf</mat-icon>
              </a>
              <button (click)="programCardLocationClick(p.program.programName)" mat-icon-button>
                <mat-icon>pin_drop</mat-icon>
              </button>
              <button *ngIf="!p.hid" (click)="hideProgramClick(p)" mat-icon-button>
                <mat-icon fontSet="material-icons-outlined">remove_red_eye</mat-icon>
              </button>
              <button *ngIf="p.hid" (click)="unhideProgramClick(p)" mat-icon-button>
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
      <div class="mb-3">
        <button (click)="showAllHidedPrograms()" class="full-width" mat-button color="primary">
          <ng-container *ngIf="hideHidPrograms; else hideUnhidPrograms">
            <mat-icon>remove_red_eye</mat-icon>
            Show hidden programs
          </ng-container>
          <ng-template #hideUnhidPrograms>
            <mat-icon fontSet="material-icons-outlined">remove_red_eye</mat-icon>
            Hide unhidden programs
          </ng-template>
        </button>
      </div>
    </ng-container>
  </div>
</div>


<div #selectDeveloperButtons class="d-none">
  <button
    (click)="cogedimBtnOnclick()"
    [ngClass]="cogedimProgramsHid ? 'developer-btn-hide' : 'developer-btn-show'"
    class="select-developer-button"
    mat-icon-button>
    <mat-icon svgIcon="icon-c"></mat-icon>
  </button>
  <button
    (click)="kaufmanbroadBtnOnclick()"
    [ngClass]="kaufmanbroadProgramsHid ? 'developer-btn-hide' : 'developer-btn-show'"
    class="select-developer-button mb-4 mx-2"
    mat-icon-button>
    <mat-icon svgIcon="icon-k"></mat-icon>
  </button>
</div>
