@media (min-width: 800px) {
  #left {
    display: block;
    position: fixed;
    height: calc(100% - 64px);
    left: 0;
    right: 600px;
    top: 64px;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  #right {
    display: block;
    float: right;
    max-width: 600px;
    height: calc(100% - 64px);
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: -2px 0 4px -1px rgba(0, 0, 0, .2), -4px 0 5px 0 rgba(0, 0, 0, .14), -1px 0 10px 0 rgba(0, 0, 0, .12);
  }
}

@media (max-width: 800px) {
  #left {
    height: 90vh;
    top: 64px;
    position: relative;
  }
}

#right {
  position: relative;
  top: 64px;
}

:host {
  height: 100%
}

#delivery-info ::ng-deep .icons {
  display: inline-block;
  vertical-align: middle;
}

.full-width {
  width: 100%;
}

.select-developer-button {
  border-radius: 0; // square
  background-color: aliceblue;
}

.developer-btn-show {

}

.developer-btn-hide {
  opacity: 0.5;
}

mat-card-subtitle {
  margin-bottom: 24px;
}
