<mat-toolbar color="primary">
  <span>Cogedim Scanner</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="router.navigate(['/home'])">
    <i class="material-icons">home</i>
  </button>
  <button mat-icon-button *ngIf="isAuthenticated" (click)="authService.logout()">
    <i class="material-icons">exit_to_app</i>
  </button>
</mat-toolbar>


<!-- main app container -->
<div class="main-container container">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1 p-0">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
