.toolbar-spacer {
  flex: 1 1 auto;
}

.main-container {

}

:host {
  height: 100%
}

mat-toolbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  height: 64px;
}
