<div class="container p-0">
  <div class="row m-0">
    <div class="col-md-12 col-lg-10 offset-lg-1 p-0">
      <mat-card *ngIf="programDateLot" class="my-sm-2">
        <img class="hero-image" mat-card-image [src]="programDateLot.program.imgUrl"
             [alt]="programDateLot.program.programName">
        <mat-card-header>
          <mat-card-title>
            <span class="vertical-align">{{programDateLot.program.programName}}</span>
            <div>
              <a [href]="programDateLot.program.url" target="_blank" mat-icon-button>
                <mat-icon>web</mat-icon>
              </a>
              <a [href]="programDateLot.program.pdfUrl" target="_blank" mat-icon-button>
                <mat-icon>picture_as_pdf</mat-icon>
              </a>
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{programDateLot.program.address}} {{programDateLot.program.postalCode}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div id="main-info" [innerHTML]="injectMainInfo"></div>
          <div class="date-bar">
            <button [disabled]="!hasPreviousDate" (click)="changeDate(false)" mat-button>
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <div class="row">
              <div class="col-12 text-align-center"><span>{{selectedDate}}</span></div>
              <div class="col-12 text-align-center"><span>{{selectedDateLotCount}}</span></div>
            </div>
            <button [disabled]="!hasNextDate" (click)="changeDate(true)" mat-button>
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>

          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                 class="mat-elevation-z8">
            <ng-container matColumnDef="lotNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
              <td mat-cell *matCellDef="let lot"> {{lot['lotNumber']}} </td>
            </ng-container>
            <ng-container matColumnDef="surface">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Surface</th>
              <td mat-cell *matCellDef="let lot"> {{lot['surface']}} </td>
            </ng-container>
            <ng-container matColumnDef="floor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Floor</th>
              <td mat-cell *matCellDef="let lot"> {{lot['floor']}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
              <td mat-cell *matCellDef="let lot"> {{lot['price']}} </td>
            </ng-container>
            <ng-container matColumnDef="price_per_m2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Price m2</th>
              <td mat-cell *matCellDef="let lot"> {{calculatePricePerM2(lot)}} </td>
            </ng-container>
            <ng-container matColumnDef="pdf">
              <th mat-header-cell *matHeaderCellDef>Blueprint</th>
              <td mat-cell *matCellDef="let lot">
                <a *ngIf="lot['pdfUrl']" [href]="lot['pdfUrl']" target="_blank" mat-icon-button>
                  <mat-icon>picture_as_pdf</mat-icon>
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="decision">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Decision</th>
              <td mat-cell *matCellDef="let lot">
                <button mat-icon-button [matMenuTriggerFor]="decisionMenu" *ngIf="lot['decision'] === Decision.GOOD">
                  <mat-icon>sentiment_very_satisfied</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="decisionMenu" *ngIf="lot['decision'] === Decision.SECONDARY">
                  <mat-icon>sentiment_satisfied</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="decisionMenu" *ngIf="lot['decision'] === Decision.BAD">
                  <mat-icon>sentiment_very_dissatisfied</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="decisionMenu" *ngIf="lot['decision'] === Decision.NONE || !lot['decision']">
                    <mat-icon>hourglass_empty</mat-icon>
                </button>
                <mat-menu #decisionMenu="matMenu">
                  <button mat-menu-item (click)="decisionButtonOnClick(lot, Decision.GOOD)">
                    <mat-icon>sentiment_very_satisfied</mat-icon>Good
                  </button>
                  <button mat-menu-item (click)="decisionButtonOnClick(lot, Decision.SECONDARY)">
                    <mat-icon>sentiment_satisfied</mat-icon>Secondary
                  </button>
                  <button mat-menu-item (click)="decisionButtonOnClick(lot, Decision.BAD)">
                    <mat-icon>sentiment_very_dissatisfied</mat-icon>Bad
                  </button>
                  <button mat-menu-item (click)="decisionButtonOnClick(lot, Decision.NONE)">
                    <mat-icon>hourglass_empty</mat-icon>Wait
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <ng-container matColumnDef="remark">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
              <td mat-cell *matCellDef="let lot">
                <app-edit-input [data]="lot['remark']" (focusOut)='remarkChanged(lot, $event)'></app-edit-input>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!--suppress JSUnusedGlobalSymbols -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div id="program-inject" class="mt-5" [innerHtml]="injectSalesInfo"></div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
