package com.catprogrammer.cogedimscanner.config

public class Credentials {
    companion object {
        const val username = "username"
        const val password = "password"
        const val jwtSecret = "secret"
        const val geocodingKey = "google map geo coding api key"
    }
}
