.norms li.bbc {
  background: url(http://localhost:8080/resource?resourceUrl=https://www.cogedim.com/themes/cogedim/images/picto-bbc.png) no-repeat 0 0
}

.norms li.hqe {
  background: url(http://localhost:8080/resource?resourceUrl=https://www.cogedim.com/themes/cogedim/images/picto-nfhqe.png) no-repeat 0 0
}

.norms li.nf {
  background: url(http://localhost:8080/resource?resourceUrl=https://www.cogedim.com/themes/cogedim/images/picto-nf.png) no-repeat 0 0
}

.norms li.nf_habitat {
  background: url(http://localhost:8080/resource?resourceUrl=https://www.cogedim.com/themes/cogedim/images/picto-nf-habitat.png) no-repeat 0 0
}

.norms li.rt_2012 {
  background: url(http://localhost:8080/resource?resourceUrl=https://www.cogedim.com/themes/cogedim/images/picto-rt2012.png) no-repeat 0 0
}

.norms li.nf_habitat_hqe {
  background: url(http://localhost:8080/resource?resourceUrl=https://www.cogedim.com/themes/cogedim/images/picto-nf-habitat-hqe.png) no-repeat 0 0;
  width: 85px
}
